.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  /* выше установили ограничения для секции */
}
.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}
.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}


.header__title {
  width: 730px;
  z-index: 1005;
  margin: 0 0 0 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}
.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 1001;
  margin: 0;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-weight: normal;
}
.header__link:hover {
  opacity: 0.5;
}
.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 999;
  transform: rotate(-15deg);
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

}
.two-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.two-columns__brief {
  display: flex;
  width: 175px;
  margin-top: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  min-width: 784px;
  font-weight: normal;
}
.two-columns__paragraph{
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.techniques {
width: 80%;
margin: 0 auto;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 920px;
  margin: auto;
  margin-top: 0;
  padding: 0;
}
.cards__item {
  flex-direction: column;
  margin-top: 60px;
  width: 240px;
}

.cards__image {
  height: 160px;
  width: 160px;
  margin: 0 40px 43px 40px;
}
.cards__title {
  margin: 0;
  font-weight: bold;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
}
.cards__description {
  margin: 16px 0 0;
  font-weight: normal;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
}
.video {
  margin: 100px auto 0;
}
.video__iframes {
  display: flex;
  justify-content: center;
  margin: 50px auto 0px auto;
  margin-bottom: -50px;
  gap: 20px;
}
.video__iframe {
  width: 515px;
  height: 316px;
}
.oakley {
  padding-top: 160px;
  background-color: #F2F2F2;
}
.khan {
  background-color: #f2f2f2;
}
.khan__container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

}
.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title {
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.khan__quote {
  margin-top: 0;
  margin-bottom: 36px;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.khan__quote-author {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}
.khan__quote-author-subline {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
.khan__book-container {
  display: flex;
  object-fit: contain;
  margin-top: 68px;
  margin-bottom: 0;
}
.khan__book-pic {
  margin-top: 0;
  margin-bottom: 0;
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-fit: cover;
  object-position: center;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
}
.khan__buy-link:hover {
  opacity: 0.5;
}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 0px auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.table {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  flex-wrap: wrap;
  flex-direction: row;
}
.table__cell {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: normal;
}
.table__text:last-child {
  margin: 0;
}
.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  z-index: 1000;
}
.feynman__pic {
  position: absolute;
  bottom: 0px;
  left: 0px;
  object-fit: cover;
  z-index: 999;
  height: 637px;
  width: 867px;
}

.feynman__title {
  margin: 0 auto 0;
  padding: 100px 0 0 0;
  position: relative;
  display: flex;
  width: 648px;
  z-index: 1001;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: 70px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 45px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  z-index: 1001;
}
.feyman__link:hover {
  opacity: 0.5;
}
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding: 90px 0 90px 0;
}
.kaufman__triangle {
  height: 877px;
  position: absolute;
  top: 0;
  z-index: 999;
  right: -210px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
}
.section-title_theme_dark {
  color: white;
  margin: auto;
}
.section-subtitle_theme_dark {
  color: white;
  margin: auto;
  margin-top: 20px;
  font-weight: normal;

}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1000;
}
.table__theme_dark {
  margin-left: auto;
  margin-right: auto;
}
.resources {

}
.resources__logo-zone {
  display: flex;
  padding: 0;
  justify-content: space-around;
  margin: 80px auto 217px auto;
  width: 1100px;
}
.resources__logo {
  width: 270px;
  height: 38px;
}
.footer {
  box-sizing: border-box;
  display: flex;
  padding: 60px 0 40px 0;
  min-height: 350px;
  background-color:  #1f1f1f;
  margin: 0 auto;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content:  space-between;
}
.footer__column_content_social{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: ease 300ms;
}

.footer__column-link:hover {
  opacity: 0.7;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 16px;
  justify-content: space-evenly;
  list-style: none;
}

.footer__columns {
  display: flex;
  margin: 0 auto;
  min-height: 250px;
  width: 90%;
  justify-content: space-between;
}
.logo_place_footer {
  display: flex;
  width: 183px;
  height: 35px;
}

.footer__item-link {
  display: flex;
  flex-direction: column;
}

.footer__social-icon{
  right: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}



@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s linear infinite;
}
